header{
   
    margin-top: 0;
    margin-bottom: 0;
}
nav{
    padding: 0;
    margin: bottom 0;
    margin-top: 0;
}
#about-me{
    margin-top: 0%;
    list-style: none;
    margin-bottom: 0%;
    margin-left:0%;
}