header{

    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;

    background-image:url(../images/red-brick.jpg);

    margin-bottom: 0;
  }
  nav{
      margin-top: 0;
      background-image:url(../images/light-wood.jpg);
      display: flex;
      justify-content:space-evenly;
      flex-wrap: wrap;
  }
  #about-me{
    margin-top: 1rem;
     text-align: left;
     font-size: 1.2rem;
     color:brown;
     width: 70%;
     display: flex;
     flex-direction: column;
     background-color: rgb(232, 172, 148);
     font-family: Georgia, 'Times New Roman', Times, serif;
  }
 
 .image-me{
    width: 10%;
    float: right;
    align-content: flex-end;
    padding-left: 2rem;
 
 }
 #part-one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
p1{
    font-size: 1.2rem;
    color:wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:antiquewhite;
    font-size: 26px;
    text-align: left;
    


 }
 h2{

    font-size: 20px;
   color:rgb(241, 8, 8);
    font-family:Georgia, 'Times New Roman', Times, serif;

 }
 h3{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:whitesmoke;
 }
 #work{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
   }

   .projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    background-image: url(../images/red-brick.jpg);
    background-size: contain;
 
 }
 .projects .hover{
    display: none;
 }
 .projects:hover .hover{
    display: contents;

 }
 .proj-one{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align:left;
    color: black;
    padding-right: 10%;
    margin:1%;
    position:relative; 
 }
 .proj-one-image{
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
 }
 .proj-one-content{
    color:beige;
    font-size: 2rem;
 }
 .proj-two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align:left;
    color: black;
    padding-right: 10%;
    margin:1%;
    position:relative; 
 }
 .proj-two-image{
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
 }
 .proj-two-content{
    margin-top: 2rem;
    color:beige;
    font-size: 2rem;
 }
 .proj-three{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align:left;
    color: black;
    padding-right: 10%;
    margin:1%;
    position:relative; 
 }
 .proj-three-image{
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
 }
 .proj-three-content{
    margin: 0.5rem;
    color:beige;
    font-size: 2rem;
 }
 .side-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../images/red-brick.jpg);
    background-size: contain;
  }
  .side-bar-one-contents {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

#work-two{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .projects-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    background-image: url(../images/red-brick.jpg);
    background-size: contain;
  }
  .projects-two .hover-two{
    display: none;
 }
 .projects-two:hover .hover-two{
    display: contents;
 }
 .copy-one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:left;
    color: black;
    position:relative; 
 }
 .copy-one-image{
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 .copy-one-content{
    margin-top: 2rem;
    color:beige;
    font-size: 2rem;
 }
 .side-bar-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../images/red-brick.jpg);
    background-size: contain;
  }
  .platforms{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    align-content: flex-end;
  }

  footer{
    margin-top: 0;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
   }


   @media screen and (min-width:1001px){
    footer{
       background-image: url(../images/light-wood.jpg);
    }
  }
 
 
  @media screen and (max-width: 1000px) {
    header, nav, footer {
      background-image: url(../images/white-brick-wall.avif);
    }
    h1{
       color: rgb(234, 42, 42);
    }
    h2{
       color:blueviolet;
    }
    #about-me{
       background-color:rgb(250, 181, 192);
    }
    .image-me{
       padding-left: 0;
    }
    h3{
       color: rgb(130, 10, 10);
    }
    .projects {
       background-image: url(../images/coloured-wood-one.jpg);
    
    } 
    .side-bar{
       background-image: url(../images/coloured-wood-one.jpg);
    }
    .projects-two{
       background-image: url(../images/coloured-wood-one.jpg);
    }
    .proj-two-image{
       padding-left:0;
 
    }
    .side-bar-two{
       background-image: url(../images/coloured-wood-one.jpg);
    }
    .platforms{
       display: flex;
       justify-content: flex-start;
       margin-left:0;
    }
  }
 
  @media screen and (max-width: 500px) {
    header, nav, footer {
      background-image: url(../images/light-leaf.jpg);
    }
    h1,h2{
       color: rgb(243, 32, 32);
    }
    #about-me{
       background-color: beige;
       width:100%;
    }
    h3{
       color: yellow
 
       
    }
    #work {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       align-content: flex-start;
       flex-wrap: wrap;
    
    } 
    p1{
        color:rgb(194, 29, 29);
    }
    .projects .hover{
       display: contents;
 
    }
    .proj-one-image{
       max-width: 10rem;
       max-height: 10rem;
    }
    .proj-two-image{
       max-width: 10rem;
       max-height: 10rem;
    }
    .projects{
      
       width: 100%;
       height: auto;
       background-image: url(../images/dark-wood.jpeg);
       background-size: contain;
 
    }
    .side-bar{
       background-image: url(../images/dark-wood.jpeg);
 
    }
    
    .proj-one{
       background-image: url(../images/light-leaf.jpg);
       background-size: contain;
    }
    .proj-two{
       background-image: url(../images/light-leaf.jpg);
       background-size: contain;
       width:100%;
       display:flex;
       justify-content: center;
       padding-left: 0;
       margin:0;
 
    }
    .proj-three{
       background-image: url(../images/light-leaf.jpg);
       background-size: contain;
       margin-top: 0;
 
    }
    .side-bar{
       min-width: 100%;
       margin-top: 2rem;
       margin-bottom: 2rem;
    }
    .projects-two .hover-two{
        display: contents;
     }
     .projects-two{
      
        width: 100%;
        height: auto;
        background-image: url(../images/dark-wood.jpeg);
        background-size: contain;
     }

   .copy-one{
    background-image: url(../images/light-leaf.jpg);
    background-size: contain;
    width:100%;
    display:flex;
    justify-content: center;
    padding-left: 0;
    margin:0;
   
    }
    .copy-one-image{
        max-width: 10rem;
        max-height: 10rem;

    }
    .side-bar-two{
        min-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
     }
     .side-bar-two{
        background-image: url(../images/dark-wood.jpeg);
  
     }
 
  }
