header{

    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
    background-image:url(../Images/light-wood.jpg);
    margin-bottom: 0;
  }
  nav{
      margin-top: 0;
      background-image:url(../Images/light-wood.jpg);
      display: flex;
      justify-content:space-evenly;
      flex-wrap: wrap;
  }
  #about-me{
    margin-top: 1rem;
     text-align: left;
     font-size: 1.2rem;
     color:brown;
     width: 70%;
     display: flex;
     flex-direction: column;
     background-color: rgb(232, 172, 148);
  }
 
 .image-me{
    width: 10%;
    float: right;
    align-content: flex-end;
    padding-left: 2rem;
 
 }
 #part-one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
